  <div class="d-flex gap-3 flex-wrap justify-content-center fade-in" id="subPages">
    <% subPages.forEach(subPages=> { %>
      <a href="<%= subPages.url %>" class="btn btn-lg btn-<%= subPages.style %>">
        <%= subPages.label %>
      </a>
      <% }) %>
  </div>

  <div class="d-flex gap-3 flex-wrap justify-content-center mt-5 fade-in social-glow" id="socialMedia">
    <% socialMedia.forEach(socialMedia=> { %>
      <a href="<%= socialMedia.url %>" target="_blank">
        <img src="<%= socialMedia.logo %>" alt="<%= socialMedia.label %>" class="img-fluid"
          style="height: 35px; width: auto;">
      </a>
      <% }) %>
  </div>