<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Szczegółowe informacje</h5>
        <div class="row">
            <div class="col-sm-12">
                <p><strong>Czas Okrążenia:</strong>
                    <%= lapDetails.lap_time %>
                </p>
                <p><strong>Poziom Kierowcy:</strong>
                    <%= lapDetails.rider_level %>
                </p>
                <p><strong>Jakość pomiaru:</strong>
                    <%= lapDetails.validity %>
                </p>
                <p><strong>Motocykl:</strong>
                    <%= lapDetails.motorcycle %>
                </p>
                <p class="mb-0"><strong>Opony:</strong></p>
                <ul class="mt-0">
                    <li><strong>Przednia:</strong>
                        <%= lapDetails.tyre_front %>
                    </li>
                    <li><strong>Tylna:</strong>
                        <%= lapDetails.tyre_rear %>
                    </li>
                </ul>
                <p><strong>Data Okrążenia:</strong>
                    <%= lapDetails.lap_date %>
                </p>
                <p><strong>Organizator:</strong>
                    <%= lapDetails.organizer || 'Brak' %>
                </p>
                <p><strong>Urządzenie:</strong>
                    <%= lapDetails.device %>
                </p>
                <p><strong>Zobacz okrążenie: </strong>
                    <% if (lapDetails.video_url !=null) { %>
                        <a href="<%= lapDetails.video_url %>" target="_blank">Kliknij aby
                            zobaczyć</a>
                        <% } else { %>
                            Brak wideo
                            <% } %>
                </p>
                <p><strong>Pomiar z laptimera:</strong>
                    <% if (lapDetails.proof_url !=null) { %>
                        <a href="<%= lapDetails.proof_url %>" target="_blank">Kliknij aby
                            zobaczyć</a>
                        <% } else { %>
                            Brak pomiaru online
                        <% } %>
                </p>
            </div>
        </div>
        <p><strong>Zdjęcie pomiaru okrążenia:</strong></p>
        <!-- Display images for filepath variables if available -->
        <div class="mt-3">
            <% if (lapDetails.proof_picture_path !=null) { %>
                <img src="<%= lapDetails.proof_picture_path %>" alt="Lap Image" class="img-fluid" style="max-width: 100%; max-height: 400px;">
                <% } else { %>
                    Brak obrazu
                <% } %>
        </div>
    </div>
</div>