<div class="col-md-6">
    <h2 class="mb-1">
        <%= lapDetails.rider_name %>
    </h2>
    <h6>
        <%= lapDetails.sex %>
    </h6>
    <h3>
        <!-- Conditional Instagram and Facebook logos under sex -->
        <% if (lapDetails.rider_ig) { %>
            <a href="<%= lapDetails.rider_ig %>" target="_blank">
                <img src="/images/media/instagram-logo-full.png" alt="Instagram"
                    style="width: 40px; height: 40px; margin-right: 10px;">
            </a>
        <% } %>
        <% if (lapDetails.rider_fb) { %>
            <a href="<%= lapDetails.rider_fb %>" target="_blank">
            <img src="/images/media/fb-logo.png" alt="Facebook" style="width: 40px; height: 40px;"></a>
        <% } %>
    </h3>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-3">Informacje o Okrążeniu</h5>
            <div class="row">
                <div class="col-sm-12">
                    <p><strong>Czas Okrążenia:</strong>
                        <%= lapDetails.lap_time %>
                    </p>
                    <p><strong>Poziom Kierowcy:</strong>
                        <%= lapDetails.rider_level %>
                    </p>
                    <p><strong>Jakość pomiaru:</strong>
                        <%= lapDetails.validity %>
                    </p>
                    <p><strong>Motocykl:</strong>
                        <%= lapDetails.motorcycle %>
                    </p>
                    <p class="mb-0"><strong>Opony:</strong></p>
                    <ul class="mt-0">
                        <li><strong>Przednia:</strong>
                            <%= lapDetails.tyre_front %>
                        </li>
                        <li><strong>Tylna:</strong>
                            <%= lapDetails.tyre_rear %>
                        </li>
                    </ul>
                    <p><strong>Data Okrążenia:</strong>
                        <%= lapDetails.lap_date %>
                    </p>
                    <p><strong>Organizator:</strong>
                        <%= lapDetails.organizer || 'Brak' %>
                    </p>
                    <p><strong>Urządzenie:</strong>
                        <%= lapDetails.device %>
                    </p>
                    <p><strong>Zobacz okrążenie: </strong>
                        <% if (lapDetails.video_url !=null) { %>
                            <a href="<%= lapDetails.video_url %>" target="_blank">Kliknij aby
                                zobaczyć</a>
                            <% } else { %>
                                Brak wideo
                                <% } %>
                    </p>
                    <p><strong>Pomiar z laptimera:</strong>
                        <% if (lapDetails.proof_url !=null) { %>
                            <a href="<%= lapDetails.proof_url %>" target="_blank">Kliknij aby
                                zobaczyć</a>
                            <% } else { %>
                                Brak pomiaru online
                                <% } %>
                    </p>
                </div>
            </div>
            <p><strong>Zdjęcie pomiaru okrążenia:</strong></p>
            <!-- Display images for filepath variables if available -->
            <div class="mt-3">
                <% if (lapDetails.proof_picture_path !=null) { %>
                    <img src="<%= lapDetails.proof_picture_path %>.jpg" alt="Lap Image" class="img-fluid">
                    <!-- <img src="/evidences/41_76.jpg" alt="Lap Image" class="img-fluid"> -->
                    <% } else { %>
                        Brak obrazu
                        <% } %>
            </div>
        </div>
    </div>
</div>